<h3><%= @user.name %> page</h3>
<h4>Movie Comparisons</h4>

<table>
  <thead>
    <tr>
      <th>Superior Movies</th>
      <th>Inferior Movies</th>
    </tr>
  </thead>
    
  <tbody>
    <% @user.comparisons.each do |comparison|%>
    <tr>
      <td><%= comparison.superior_movie.title %></td>
      <td><%= comparison.interior_movie.title %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Create a new Comparison</h3>

<%= form_for @comparison do |f| %>
  <input type="hidden" name="user[id]" value="<%= @user.id %>">

  <%= f.label :superior_movie_id, "Superior Movie" %>
  <%= f.collection_select :superior_movie_id, @movies, :id, :title %><br />

  <%= f.label :interior_movie_id, "Inferior Movie" %>
  <%= f.collection_select :interior_movie_id, @movies, :id, :title %><br /><br />
<% end %>
<small><%= link_to '<< Back to Users List', users_path %></small>